.List {
    display: flex;
}

.col {
    flex:1
}

.Content {
    flex-grow: 3;
    flex-basis: 2;
}

.topics {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}

.button {
    flex: 1;
    background-color: #998DA0;
}

.buttonLink {
    color: #000000;
    font-weight: normal;
    text-decoration: none;
}
