.Article-Card {
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #0091AD;
    border: 1px solid #000000;
    border-radius: 5px;
    text-size-adjust: auto;
    cursor: pointer;
}


.title {
    color: #000000;
    font-weight: normal;
    text-decoration: none;
}

.Article-Card:hover{
    background-color: #25cbec;
}



.listHeader {
    display: flex;
}

.buttonsList {
    flex: 1;
    border-style: solid;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.orderButton {
    align-self: center;
}

.buttons {
    align-self: center;
    flex: 1;
    margin: 10px;
}

.sortDesc {
    border-style: solid;
    padding: 3px;
}

.text {
    text-align: left;
}

.sortText {
    flex: 1;
    text-align: left;
    border-style: solid;
    padding: 2px;
}



@media screen and (max-width: 450px){
    .text{
        width: 120px;
    }
}