.article {
    display: flex;
}

.col {
    flex:1
}

.Content {
    flex: 2;
    flex-grow: 2;
    justify-content: center;
}

@media screen and (max-width: 450px) {
    .article {
        font-size: 3.2vw;
    }

    .Content {
        flex-grow: 12;
    }
}