.List {
    display: flex;
}

.topics {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}

.button {
    flex: 1;
}

.buttonLink {
    color: #000000;
    font-weight: normal;
    text-decoration: none;
}
