.users {
    display: flex;
    flex-direction: row;
}

.content {
    text-align: center;
    justify-content: center;
    align-items: center;
    flex: 2;
    flex-grow: 6;
    display: flex;
    flex-wrap: wrap;
}

.user-list {
    padding: 10px;
}

.userCard {
    text-align: center;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    max-height: 300px;
    width: 28vw;
    height: 28vw;
    border-style: solid;
    padding: 2px;
}

.username {
    font-size: 2.4vw;
}

.profile-pic {
    max-width: inherit;
    max-height: 120px;
    height: 12vw;
}

.LoginButton{
    font-size: max(2vw, 12px);
}

@media screen and (max-width: 450px) {
    .userCard{
        max-width: 160px;
        max-height: 160px;
    }

    .content{
        flex-grow: 8;
    }
    

}